.cabecera{
    background-color: lightcoral;
    text-align: center;
    justify-content:center;
    align-items: center;
    padding: 1rem;
    border-radius: 3rem;
    margin:5rem;
    display: grid;
    grid-template-columns: 1fr 3fr
}

.foto-perfil {
    width: 200px;
    height: 250px; 
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

body{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(185, 140, 140) ;
}   

#sobre-mi{
    display: flex;
    align-items: center; 
    gap: 20px; 
    justify-content: center;
    align-items: center;
    padding: 2.5rem;
    margin: 15rem;

}

#menu{
    list-style: none;
    display: flex;
    justify-items: center;
    justify-content: center;
    gap: 20px;
}

a{
    text-decoration: none;
    color: indigo;
}






header{
    display: grid;
    grid-template-columns: 3fr;
    background-color: lightcoral;
    text-align: center;
    justify-content:center;
    align-items: center;
    padding: 1rem;
    border-radius: 3rem;
    margin:5rem;
    list-style: none;
}

article{
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    gap: 20px;
    border: 2px solid #ccc;
    padding: 10px;
    text-align: center;
}

.galeria-mascotas{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    gap: 20px;
}


img {
    width: 50%;
    margin: 0 auto;
}